:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --light-grey: #EEEEEE ;
    --dark-green: #00CA74;
    --dark-red:#FB565A;
    --dark-yellow:#EFC849;
    --grey: #989898;
  }
body{
  font-family: "Roboto", sans-serif ;
  background-color: var(--basic-white) ;
  margin: 0;
  padding: 0;
  font-size: 16px; 
  text-transform: none;
  min-width: 960px;
  text-align: center; 
  font-weight: normal;
  line-height: 24px;
}

header {
  width: 1440px;
  height: 545px;
  background-color: var(--light-grey);
  color: var(--basic-black) ;
 }

 .nav-list{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
}

.main-navigation li{
  display: inline-block ;
}

li{
  list-style-type: none
}

.nav-list a {
 text-decoration: none;
 color: var(--basic-black) ;
 font-weight: 500;
 line-height: 30px;
}

a:hover {
  color: var( --dark-red) ;
}

a:active{
  color: var( --grey);
}

img {
 max-width: 100%;
 height: auto;
}

button{
 border: 0;
}

.services-item h3{
  text-transform: uppercase;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.services-item p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.services-item a{
 width: 160px;
 height: 50px;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-white);
 border-radius: 3px;
}

.btn1{
 background-color: var(--dark-green);
}

.btn2{
 background-color: var(--dark-red);
}

.btn3{
  background-color: var(--dark-yellow);
}

.information p{
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 24px;
}
.p-b{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.inf-list {
 font-style: normal;
 font-weight: normal;
}

.inf-list:before {
  color: var(--dark-red); 
  list-style-type: square;
  padding-right: 10px;
  width: 25px;
  height: 2px;
} 

.achievement h3{
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 24px;
}

.achievement-list p{
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.achievement-list h3{
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
}
.slide{
 width: 1157px;
 height: 431px;
}

.map-adds{
 width: 319px;
 height: 308px;
 background-color: var(--basic-white);
}

.map-adds h2{
 font-style: normal;
 font-weight: bold;
 font-size: 18px;
 line-height: 30px;
}
.map-adds{
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
}

.map-adds button{
 width: 219px;
 height: 50px;
 background-color: var(--dark-red);
 color: var(--basic-white);
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
}




