:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --light-grey: #EEEEEE ;
    --dark-green: #00CA74;
    --dark-red:#FB565A;
    --dark-yellow:#EFC849;
    --grey: #989898;
    --green-hover: #00AA62;
    --yellow-hover: #E5A722;
    --red-hover: #D7373B;
    --red-active:#E74246;
    --green-active:#00BC6C;
    --yellow-active: #EAB534;
    --dark-grey: #666666; 
  }
body{
  font-family: "Roboto", sans-serif ;
  background-color: var(--basic-white) ;
  margin: auto;
  padding: 0;
  font-size: 16px;
  text-transform: none;
  min-width: 960px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
}

header {
  width: 1440px;
  height: 114px;
  padding:5px;
  background-color: var(--light-grey);
  color: var(--basic-black) ;
 }
 .slides{
  background-color: var(--light-grey);

 }

 .nav-list{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.main-navigation li{
  display: inline-block;
}

a{
   text-decoration: none;
}

li{
  list-style-type: none
}

.nav-list {
 color: var(--basic-black) ;
 font-weight: 500;
 line-height: 30px;
}

.nav-list:hover {
  color: var( --dark-red);
}

.nav-list:active{
  color: var( --grey);
  mix-blend-mode: normal;
  opacity: 0.3;
}
nav{
  word-spacing: 44px;
  margin: 76px;
}

img {
 max-width: 100%;
 height: auto;
}

button{
 border: 0;
}
.services-item{
  display: inline-block;
}
.services-item h3{
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.services-item p{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.a-btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.a-btn>p:hover{
  opacity: 0.3;
  mix-blend-mode: normal;
}
.a-btn>p:active{
  color: var(--basic-white);
  opacity: 1 ;
}
.a-btn--green{
 background-color: var(--dark-green);
 width: 160px;
 height: 50px;
}
.a-btn--red{
  background-color: var(--dark-red);
  width: 160px;
  height: 50px;
 }
 .a-btn--yellow{
  background-color: var(--dark-yellow);
  width: 160px;
  height: 50px;
 }

.a-btn--green:hover{
  background-color: var(--green-hover);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.a-btn--red:hover{
  background-color: var(--red-hover);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.a-btn--yellow:hover{
  background-color: var(--yellow-hover);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.a-btn--green:active{
  background-color: var(--green-active);
}
.a-btn--red:active{
  background-color: var(--red-active);
}
.a-btn--yellow:active{
  background-color: var(--yellow-active);
}

.information h2{
 font-weight: 500;
 font-size: 45px;
 line-height: 45px;
 align-items: center;
}
.information p{
 font-weight: normal;
 font-size: 16px;
 line-height: 24px;
}

.infirmation .bold-text{
 font-weight: bold;
}

.achievement-list p{
  list-style-type: none;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

 h3{
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
}

.map-adds{
 width: 319px;
 height: 308px;
 background-color: var(--basic-white);
}

.map-adds h2{
 font-weight: bold;
 font-size: 18px;
 line-height: 30px;
}
.map-adds{
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
}

.map-adds button{
 width: 219px;
 height: 50px;
 background-color: var(--dark-red);
 color: var(--basic-white);
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
}

.str{
 font-weight: bold;
 font-size: 36px;
 line-height: 36px;
}

.str+p{
 font-weight: normal;
 font-size: 16px;
 line-height: 22px;
}

/*2page*/

.templates-shop{
  background-color: var(--light-grey);
  width: 1440;
}
.templates-shop{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;

}

.pp-text{
  background-color: var(--light-grey);
  width: 360px;
  height: 231px;
}

.pp-text h3{
 font-weight: bold;
 font-size: 18px;
 line-height: 30px;
 align-items: center;
 text-align: center;
}

.pp-text p{
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
 align-items: center;
 text-align: center;
 color: var(--dark-grey);
}

.pp-text button{
  width: 200px;
  height: 50px;
  background-color:var(--dark-red);
  border-radius: 3px;
}

