:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --light-grey: #EEEEEE ;
    --dark-green: #00CA74;
    --dark-red:#FB565A;
    --dark-yellow:#EFC849;
  }
body{
    font-family: "Roboto", Arial, sans-serif ;
    background-color: var(--basic-white) ;
    margin: 0;
    padding: 0;
    font-size: 16px; 
    text-transform: none;
}
li{
  list-style-type: none ;
}
a {
 text-decoration: none;
}
 A:link{
 color: var(--basic-black);
 }
  
img {
 max-width: 100%;
 height: auto;
}

button{
 border: 0;
}

.navigation{
  font-size: 16px;
  line-height: 30px;
  background-color: var(--light-grey) ;
  font-style: normal;
  font-weight: 500;
}
.basket{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.body-header {
 width: 1440px;
 height: 545px;
}

.services-item h3{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.services-item p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.btn1{
 background-color: var(--dark-green);
 width: 160px;
 height: 50px;
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-white);
 border-radius: 3px;
}

.btn2{
 background-color: var(--dark-red);
 width: 160px;
 height: 50px;
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-white);
 border-radius: 3px;
}

.btn3{
  background-color: var(--dark-yellow);
  width: 160px;
 height: 50px;
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-white);
 border-radius: 3px;
}

.information p{
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 24px;
}
.p-b{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.inf-list {
 font-style: normal;
 font-weight: normal;
}

.inf-list:before {
  color: var(--dark-red); 
  content: "—";
  padding-right: 10px;
  width: 25px;
  height: 2px;
} 

.achievement h3{
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 24px;
}

.achievement-list p{
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.achievement-list h3{
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
}
.slide{
 width: 1157px;
 height: 431px;
}

.map-adds{
 width: 319px;
 height: 308px;
 background-color: var(--basic-white);
}

.map-adds h2{
 font-style: normal;
 font-weight: bold;
 font-size: 18px;
 line-height: 30px;
}
.map-adds{
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 18px;
}

.map-adds button{
 width: 219px;
 height: 50px;
 background-color: var(--dark-red);
 color: var(--basic-white);
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
}




